body {
  padding: 0;
  margin: 0;
  background: white;
  color: black;
  min-height: 80vh;
  h1 {
    text-align: center;
    font-weight: bold;
  }
}
.center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-page {

  text-align: center;
  font-size: 2.5rem !important;
  font-weight: bold;
  svg {
    margin-top: -2px;
  }

}
.card {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100%;
  margin-right: 1rem;

  div:first-of-type{
    flex-direction: column;
    margin-bottom: 0.4rem;
  }
  em {
    font-size: 0.875rem  !important;
  }
  > p {
   color: #808c98 ;
  }
  .cta {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 1rem;
    p {
      cursor: pointer;
      color: #2D67B2;
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: 500;
      text-transform: uppercase;
      svg {
        width: 11px;
        margin-top: 1.2px;
      }
    }
  }
  @media(min-width: 768px) {
    width: 320px;
    div:first-of-type {
      flex-direction: row;
    }
    em {
      font-size: 1rem !important;
    }
    .cta {
      margin-top: 1.5rem;
      p {
        svg {
          width: 15px;
        }
      }
    }
  }
}

.carousel-container {
  min-height: 400px;
  width: 95%;
  margin: 0 auto;
}
.carousel-button-group {
  display: none;
  position: absolute;
  align-items: center;
  margin-top: 2rem;
  right: 100px;

  .disable {
    opacity: .7;
    :hover {
      border: none !important;
      border-radius: 50%;
    }
  }
  @media(min-width: 1000px) {
    display: flex;
  }
  
}
.btn {
  width: 40px;
  height: 33.3px;
  background: none;
  border: none;
  :hover {
    border-right: 1px solid #3A70B6;
    border-radius: 50%;
  }
}

.inverted {
    transform: rotate(180deg);
}


.custom-dot-list-style {
  button {
    cursor: pointer;
    margin-right: 7px;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background: #ccc;
  } 
  .active {
    background: black;
  }
  @media(min-width: 1000px) {
    display: none !important;
  }
}

.back-btn {
  @extend .inverted;
  @extend .btn;
  margin-right: auto;
}
//TODO: REMOVER HOVER QUANDO BTN ESTIVER DISABLE
//TODO: ADICIONAR FILTER BY BODYTYPE
//TODO: ADICIONAR TESTES 
